{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>TheGazette - News Magazine HTML5 Template | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href='{% static "img/core-img/favicon.ico" %}'>

    <!-- Core Style CSS -->
    <link rel="stylesheet" href='{% static "css/core-style.css" %}'>
    <link rel="stylesheet" href='{% static "style.css" %}'>

    <!-- Responsive CSS -->
    <link href='{% static "css/responsive.css" %}' rel="stylesheet">

</head>

<body>
    <!-- Header Area Start -->
    
        <!-- Bottom Header Area -->
        <div class="bottom-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="main-menu">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gazetteMenu" aria-controls="gazetteMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>
                                <div class="collapse navbar-collapse" id="gazetteMenu">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link">جستجوی خبری<span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href='{% static "#" %}' id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">صفحه ها</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href='{% static "about-us.html" %}'>درباره ما</a>
                                                <a class="dropdown-item" href='{% static "contact.html" %}'>ارتباط با ما</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/1'>سیاسی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/2'>اقتصادی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/3'>فرهنگ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/4'>جامعه</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/5'> بین المللی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/6'>ورزش</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/7'>دانش</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/8'>کامپیوتر </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/9'> طنز</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/10'> چندرسانه ای</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/11'>  وبلاگ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/12'>  استانی </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href='/category/13'>  گردشگری</a>
                                        </li>
                                    </ul>
                                    <!-- Search Form -->
                                    <div class="header-search-form mr-auto">
                                        <form action="/search">
                                            <input type="search" placeholder="Input your keyword then press enter..." id="search" name="query">
                                            <input class="d-none" type="submit" value="submit">
                                        </form>
                                    </div>
                                    <!-- Search btn -->
                                    <div id="searchbtn">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Welcome Blog Slide Area Start -->
    <section class="welcome-blog-post-slide owl-carousel">
        <!-- Single Blog Post -->
        {% for post in news %}
        <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url({{post.image_link}});">
            <!-- Single Blog Post Content -->
            <div class="single-blog-post-content">
                <div class="tags">
                    <a href='{% static "#" %}'>{{post.category}}</a>
                </div>
                <h3><a href='{% static "#" %}' class="font-pt">{{post.title}}</a></h3>
                <div class="date">
                    <a href='{% static "#" %}'>{{post.data}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
        <!-- Single Blog Post -->
        {% comment %} <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(static/img/bg-img/2.jpg);">
            <!-- Single Blog Post Content -->
            <div class="single-blog-post-content">
                <div class="tags">
                    <a href='{% static "#" %}'>live</a>
                </div>
                <h3><a href='{% static "#" %}' class="font-pt">The latest news live</a></h3>
                <div class="date">
                    <a href='{% static "#" %}'>March 29, 2018</a>
                </div>
            </div>
        </div>
        <!-- Single Blog Post -->
        <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(static/img/bg-img/3.jpg);">
            <!-- Single Blog Post Content -->
            <div class="single-blog-post-content">
                <div class="tags">
                    <a href='{% static "#" %}'>politics</a>
                </div>
                <h3><a href='{% static "#" %}' class="font-pt">Financial advices </a></h3>
                <div class="date">
                    <a href='{% static "#" %}'>March 29, 2018</a>
                </div>
            </div>
        </div>
        <!-- Single Blog Post -->
        <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(static/img/bg-img/2.jpg);">
            <!-- Single Blog Post Content -->
            <div class="single-blog-post-content">
                <div class="tags">
                    <a href='{% static "#" %}'>live</a>
                </div>
                <h3><a href='{% static "#" %}' class="font-pt">The latest news live</a></h3>
                <div class="date">
                    <a href='{% static "#" %}'>March 29, 2018</a>
                </div>
            </div>
        </div> {% endcomment %}
    
    <!-- Welcome Blog Slide Area End -->

    <!-- Latest News Marquee Area Start -->
    
    <!-- Latest News Marquee Area End -->

    <!-- Main Content Area Start -->
    <section class="main-content-wrapper section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <!-- Gazette Welcome Post -->
                

                    {% comment %} <div class="gazette-todays-post section_padding_100_50"> {% endcomment %}
                        <div class="gazette-heading">
                            <h4>پست های محبوب امروز</h4>
                        </div>
                        <!-- Single Today Post -->
                        {% comment %} <div class="gazette-single-todays-post d-md-flex align-items-start mb-50">
                            <div class="todays-post-thumb">
                                <img src='{% static "img/blog-img/2.jpg" %}' alt="">
                            </div>
                            <div class="todays-post-content">
                                <!-- Post Tag -->
                                <div class="gazette-post-tag">
                                    <a href='{% static "#" %}'>News</a>
                                </div>
                                <h3><a href='{% static "#" %}' class="font-pt mb-2">$250-million mansion is most expensive</a></h3>
                                <span class="gazette-post-date mb-2">March 29, 2016</span>
                                
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum viverra posuere.</p>
                            </div>
                        </div> {% endcomment %}
                        <!-- Single Today Post -->
                        {% for post in popular_news %}
                        <div class="gazette-single-todays-post d-md-flex align-items-start mb-50">
                            <div class="todays-post-thumb">
                                <img src='{{post.image_link}}' alt="">
                            </div>
                            <div class="todays-post-content">
                                <!-- Post Tag -->
                                <div class="gazette-post-tag">
                                    <a href='{% static "#" %}'>{{post.category}}</a>
                                </div>
                                <h3><a href='{% static "#" %}' class="font-pt mb-2">{{post.title}}</a></h3>
                                <p class="gazette-post-date mb-2">{{post.date}}</p>
                                
                                <p>{{post.summary}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% comment %} <div class="col-12 col-lg-3 col-md-6">
                    <div class="sidebar-area">
                        <!-- Breaking News Widget -->
                        <div class="breaking-news-widget">
                            <div class="widget-title">
                                <h5>breaking news</h5>
                            </div>
                            <!-- Single Breaking News Widget -->
                            <div class="single-breaking-news-widget">
                                <img src='{% static "img/blog-img/bn-1.jpg" %}' alt="">
                                <div class="breakingnews-title">
                                    <p>breaking news</p>
                                </div>
                                <div class="breaking-news-heading gradient-background-overlay">
                                    <h5 class="font-pt">China leads new global skyscraper record</h5>
                                </div>
                            </div>
                            <!-- Single Breaking News Widget -->
                            <div class="single-breaking-news-widget">
                                <img src='{% static "img/blog-img/bn-2.jpg" %}' alt="">
                                <div class="breakingnews-title">
                                    <p>breaking news</p>
                                </div>
                                <div class="breaking-news-heading gradient-background-overlay">
                                    <h5 class="font-pt">Can a zebra crossing change its stripes?</h5>
                                </div>
                            </div>
                        </div> {% endcomment %}

                        <!-- Don't Miss Widget -->
                        {% comment %} <div class="donnot-miss-widget">
                            <div class="widget-title">
                                <h5>Don't miss</h5>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post d-flex mb-30">
                                <div class="dont-miss-post-thumb">
                                    <img src='{% static "img/blog-img/dm-1.jpg" %}' alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href='{% static "#" %}' class="font-pt">EU council reunites</a>
                                    <span>Nov 29, 2017</span>
                                </div>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post d-flex mb-30">
                                <div class="dont-miss-post-thumb">
                                    <img src='{% static "img/blog-img/dm-2.jpg" %}' alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href='{% static "#" %}' class="font-pt">A new way to travel the world</a>
                                    <span>March 29, 2016</span>
                                </div>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post d-flex mb-30">
                                <div class="dont-miss-post-thumb">
                                    <img src='{% static "img/blog-img/dm-3.jpg" %}' alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href='{% static "#" %}' class="font-pt">Why choose a bank?</a>
                                    <span>March 29, 2016</span>
                                </div>
                            </div>
                        </div>
                        <!-- Advert Widget -->
                        <div class="advert-widget">
                            <div class="widget-title">
                                <h5>Advert</h5>
                            </div>
                            <div class="advert-thumb mb-30">
                                <a href='{% static "#" %}'><img src='{% static "img/bg-img/add.png" %}' alt=""></a>
                            </div>
                        </div>
                        <!-- Subscribe Widget -->
                        <div class="subscribe-widget">
                            <div class="widget-title">
                                <h5>subscribe</h5>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="email" name="email" id="subs_email" placeholder="Your Email">
                                    <button type="submit">subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- Main Content Area End -->

        <!-- Catagory Posts Area Start -->
        {% comment %} <div class="gazette-catagory-posts-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <div class="single-catagory-post-thumb mb-15">
                                <img src='{% static "img/blog-img/12.jpg" %}' alt="">
                            </div>
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href='{% static "#" %}'>Video</a>
                            </div>
                            <h5><a href='{% static "#" %}' class="font-pt">Save the eniroment with this step</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href='{% static "#" %}' class="font-pt">Protest to be anounced in January</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href='{% static "#" %}' class="font-pt">10 Bills that the Congress in voting</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href='{% static "#" %}' class="font-pt">The narcissism of Donald Trump</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- Single Catagory Post -->
                                <div class="gazette-single-catagory-post">
                                    <div class="single-catagory-post-thumb mb-15">
                                        <img src='{% static "img/blog-img/14.jpg" %}' alt="">
                                    </div>
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href='{% static "#" %}'>Others</a>
                                    </div>
                                    <h5><a href='{% static "#" %}' class="font-pt">11 hottest toys for this holiday season</a></h5>
                                    <span>Nov 29, 2017</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Single Catagory Post -->
                                <div class="gazette-single-catagory-post">
                                    <div class="single-catagory-post-thumb mb-15">
                                        <img src='{% static "img/blog-img/15.jpg" %}' alt="">
                                    </div>
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href='{% static "#" %}'>Video</a>
                                    </div>
                                    <h5><a href='{% static "#" %}' class="font-pt">Get this good feeling about life</a></h5>
                                    <span>Nov 29, 2017</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Single Catagory Post -->
                                <div class="gazette-single-catagory-post">
                                    <div class="single-catagory-post-thumb mb-15">
                                        <img src='{% static "img/blog-img/16.jpg" %}' alt="">
                                    </div>
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href='{% static "#" %}'>Interview</a>
                                    </div>
                                    <h5><a href='{% static "#" %}' class="font-pt">Get this good feeling about life</a></h5>
                                    <span>Nov 29, 2017</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Single Catagory Post -->
                                <div class="gazette-single-catagory-post">
                                    <div class="single-catagory-post-thumb mb-15">
                                        <img src='{% static "img/blog-img/17.jpg" %}' alt="">
                                    </div>
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href='{% static "#" %}'>Video</a>
                                    </div>
                                    <h5><a href='{% static "#" %}' class="font-pt">11 hottest toys for this holiday season</a></h5>
                                    <span>Nov 29, 2017</span>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    {% comment %} </div>
                    <div class="col-12 col-md-4">
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <div class="single-catagory-post-thumb mb-15">
                                <img src='{% static "img/blog-img/13.jpg" %}' alt="">
                            </div>
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href='{% static "#" %}'>Video</a>
                            </div>
                            <h5><a href='{% static "#" %}' class="font-pt">10 Bills that the Congress in voting</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href='{% static "#" %}' class="font-pt">Blair can't save Britain from Brexit</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href='{% static "#" %}' class="font-pt">Save the eniroment with this step</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href='{% static "#" %}' class="font-pt">Protest to be anounced in January</a></h5>
                            <span>Nov 29, 2017</span>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        {% comment %} </div>
    </section> {% endcomment %}
    <!-- Catagory Posts Area End -->

    <!-- Video Posts Area Start -->
    {% comment %} <section class="gazatte-video-post-area section_padding_100_70 bg-gray">
        <div class="container">
            <div class="row">
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src='{% static "img/blog-img/4.jpg" %}' alt="">
                            <a href='{% static "https://youtu.be/dIyXl9ZHEgg" %}' class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href='{% static "#" %}'>Show suspended by PBS amid misconduct allegations</a></h5>
                    </div>
                </div>
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src='{% static "img/blog-img/5.jpg" %}' alt="">
                            <a href='{% static "https://youtu.be/dIyXl9ZHEgg" %}' class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href='{% static "#" %}'>Parents to Congress</a></h5>
                    </div>
                </div>
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src='{% static "img/blog-img/6.jpg" %}' alt="">
                            <a href='{% static "https://youtu.be/dIyXl9ZHEgg" %}' class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href='{% static "#" %}'>Third Buy Alert for This “Millionaire Maker” Stock</a></h5>
                    </div>
                </div>
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src='{% static "img/blog-img/7.jpg" %}' alt="">
                            <a href='{% static "https://youtu.be/dIyXl9ZHEgg" %}' class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href='{% static "#" %}'>The Chicago Mercantile Exchange is set to begin</a></h5>
                    </div>
                </div>
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src='{% static "img/blog-img/8.jpg" %}' alt="">
                            <a href='{% static "https://youtu.be/dIyXl9ZHEgg" %}' class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href='{% static "#" %}'>Trading bitcoin futures</a></h5>
                    </div>
                </div>
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src='{% static "img/blog-img/9.jpg" %}' alt="">
                            <a href='{% static "https://youtu.be/dIyXl9ZHEgg" %}' class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href='{% static "#" %}'>Are ‘Micro-Mansions’ the Next Big Thing?</a></h5>
                    </div>
                </div>
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src='{% static "img/blog-img/10.jpg" %}' alt="">
                            <a href='{% static "https://youtu.be/dIyXl9ZHEgg" %}' class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href='{% static "#" %}'>McKinney’s target market</a></h5>
                    </div>
                </div>
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src='{% static "img/blog-img/11.jpg" %}' alt="">
                            <a href='{% static "https://youtu.be/dIyXl9ZHEgg" %}' class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href='{% static "#" %}'>Australian Property Prices Remain Flat</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Video Posts Area End -->

    <!-- Editorial Area Start -->
    <section class="gazatte-editorial-area section_padding_100 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="editorial-post-slides owl-carousel">

                        <!-- Editorial Post Single Slide -->
                        <div class="editorial-post-single-slide">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="editorial-post-thumb">
                                        <img src='{% static "img/blog-img/bitcoin.jpg" %}' alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="editorial-post-content">
                                        <!-- Post Tag -->
                                        <div class="gazette-post-tag">
                                            <a href='{% static "#" %}'>Editorial</a>
                                        </div>
                                        <h2><a href='{% static "#" %}' class="font-pt mb-15">Move over, bitcoin. <br>Here comes litecoin</a></h2>
                                        <p class="editorial-post-date mb-15">March 29, 2016</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum viverra posuere. Aliquam quis convallis enim. Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis...</p>
                                    </div> {% endcomment %}
                                {% comment %} </div>
                            </div>
                        </div>

                        <!-- Editorial Post Single Slide -->
                        <div class="editorial-post-single-slide">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="editorial-post-thumb">
                                        <img src='{% static "img/blog-img/bitcoin.jpg" %}' alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="editorial-post-content">
                                        <!-- Post Tag -->
                                        <div class="gazette-post-tag">
                                            <a href='{% static "#" %}'>Editorial</a>
                                        </div>
                                        <h2><a href='{% static "#" %}' class="font-pt mb-15">Move over, bitcoin. <br>Here comes litecoin</a></h2>
                                        <p class="editorial-post-date mb-15">March 29, 2016</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum viverra posuere. Aliquam quis convallis enim. Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis...</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Editorial Post Single Slide -->
                        <div class="editorial-post-single-slide">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="editorial-post-thumb">
                                        <img src='{% static "img/blog-img/bitcoin.jpg" %}' alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="editorial-post-content">
                                        <!-- Post Tag -->
                                        <div class="gazette-post-tag">
                                            <a href='{% static "#" %}'>Editorial</a>
                                        </div>
                                        <h2><a href='{% static "#" %}' class="font-pt mb-15">Move over, bitcoin. <br>Here comes litecoin</a></h2>
                                        <p class="editorial-post-date mb-15">March 29, 2016</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum viverra posuere. Aliquam quis convallis enim. Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis...</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Editorial Post Single Slide -->
                        <div class="editorial-post-single-slide">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="editorial-post-thumb">
                                        <img src='{% static "img/blog-img/bitcoin.jpg" %}' alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="editorial-post-content">
                                        <!-- Post Tag -->
                                        <div class="gazette-post-tag">
                                            <a href='{% static "#" %}'>Editorial</a>
                                        </div>
                                        <h2><a href='{% static "#" %}' class="font-pt mb-15">Move over, bitcoin. <br>Here comes litecoin</a></h2>
                                        <p class="editorial-post-date mb-15">March 29, 2016</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices egestas nunc, quis venenatis orci tincidunt id. Fusce commodo blandit eleifend. Nullam viverra tincidunt dolor, at pulvinar dui. Nullam at risus ut ipsum viverra posuere. Aliquam quis convallis enim. Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <!-- Editorial Area End -->

    <!-- Footer Area Start -->
    <footer class="footer-area bg-img background-overlay" style="background-image: url(static/img/bg-img/4.jpg);">
        <!-- Top Footer Area -->
        <div class="top-footer-area section_padding_100_70">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">Regions</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href='{% static "#" %}'>U.S.</a></li>
                                <li><a href='{% static "#" %}'>Africa</a></li>
                                <li><a href='{% static "#" %}'>Americas</a></li>
                                <li><a href='{% static "#" %}'>Asia</a></li>
                                <li><a href='{% static "#" %}'>China</a></li>
                                <li><a href='{% static "#" %}'>Europe</a></li>
                                <li><a href='{% static "#" %}'>Middle</a></li>
                                <li><a href='{% static "#" %}'>East</a></li>
                                <li><a href='{% static "#" %}'>Opinion</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">Fashion</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href='{% static "#" %}'>Election 2016</a></li>
                                <li><a href='{% static "#" %}'>Nation</a></li>
                                <li><a href='{% static "#" %}'>World</a></li>
                                <li><a href='{% static "#" %}'>Our Team</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">Politics</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href='{% static "#" %}'>Business</a></li>
                                <li><a href='{% static "#" %}'>Markets</a></li>
                                <li><a href='{% static "#" %}'>Tech</a></li>
                                <li><a href='{% static "#" %}'>Luxury</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">Featured</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href='{% static "#" %}'>Football</a></li>
                                <li><a href='{% static "#" %}'>Golf</a></li>
                                <li><a href='{% static "#" %}'>Tennis</a></li>
                                <li><a href='{% static "#" %}'>Motorsport</a></li>
                                <li><a href='{% static "#" %}'>Horseracing</a></li>
                                <li><a href='{% static "#" %}'>Equestrian</a></li>
                                <li><a href='{% static "#" %}'>Sailing</a></li>
                                <li><a href='{% static "#" %}'>Skiing</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">FAQ</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href='{% static "#" %}'>Aviation</a></li>
                                <li><a href='{% static "#" %}'>Business</a></li>
                                <li><a href='{% static "#" %}'>Traveller</a></li>
                                <li><a href='{% static "#" %}'>Destinations</a></li>
                                <li><a href='{% static "#" %}'>Features</a></li>
                                <li><a href='{% static "#" %}'>Food/Drink</a></li>
                                <li><a href='{% static "#" %}'>Hotels</a></li>
                                <li><a href='{% static "#" %}'>Partner Hotels</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                <h4 class="font-pt">+More</h4>
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a href='{% static "#" %}'>Fashion</a></li>
                                <li><a href='{% static "#" %}'>Design</a></li>
                                <li><a href='{% static "#" %}'>Architecture</a></li>
                                <li><a href='{% static "#" %}'>Arts</a></li>
                                <li><a href='{% static "#" %}'>Autos</a></li>
                                <li><a href='{% static "#" %}'>Luxury</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12">
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src='{% static "js/jquery/jquery-2.2.4.min.js" %}'></script>
    <!-- Popper js -->
    <script src='{% static "js/popper.min.js" %}'></script>
    <!-- Bootstrap js -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <!-- Plugins js -->
    <script src='{% static "js/plugins.js" %}'></script>
    <!-- Active js -->
    <script src='{% static "js/active.js" %}'></script>

</body>

</html>